.text{
  font-style: bold;
  font-size:45px;
}

.price{
  color:rgb(9, 181, 9);
  font-size:30px;
}

.delivery{
  font-size:27px;
}

.cart{
  background-color:rgb(204, 204, 25);
  border:none;
  border-radius:15px;
  height:30px;
  width:110px;
  cursor:pointer;
  margin-right:8px;
}

.cart:hover{
opacity:0.8;
}

.cart:active{
  opacity:0.57;
}

.buy{
  background-color:orange;
  border:none;
  border-radius:15px;
  height:30px;
  width:110px;
  cursor:pointer;
  margin-right:8px;
}

.buy:hover{
  opacity:0.8;
}

.buy:active{
  opacity:0.6;
}