body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

main {
  padding: 20px;
}

.hostel {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items with space between */
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hostel h2 {
  color: #ff6699;
}

.hostel img {
  max-width: 200px;
  border-radius: 5px;
}

li a{
color:white;
}
