.shadow{
  border:none;
  border-radius:15px;
  box-shadow: 2px 2px 3px rgb(148, 148, 148);
  width:400px;
  height:30px;
  margin-top:5px;
}

::placeholder{
  font-size:16px;
  padding-top:5px;
  color:rgb(156, 155, 155);
}
p{
  color:grey;
  font-family:arial;
  font-size:12px;
  margin-bottom:0px;
  margin-top:0px;
}

.title{
  color:black;
  font-size:14px;
  font-style:bold;
  margin-top:30px;
}


.title-2{
  color:black;
  font-size:14px;
  font-style:bold;
  margin-top:30px;
  margin-bottom: 30px;
}

.linkedIn-signup{
  width:300px;
  height:20px;
  border-color:black;
  border-width:1.35px;
  border-radius:4px;
  margin-top:3px;
}
.email{
  margin-top:25px;
}
.terms{
  margin-top:25px;
}
button{
  background-color: rgb(0, 115, 177);
  width:300px;
  height:40px;
  border:none;
  border-radius:150px;
  color:white;
  margin-top:10px;
  cursor:pointer;
}
button:hover{
  opacity:0.8;
}
button:active{
  opacity:0.6;
}

img{
  width:60px;
  height:60px;
  border-radius:50%;
  object-fit:cover;
  margin-right:5px;
  vertical-align: middle;

}

.twitter{
  width:300px;
 vertical-align:middle;
 border:none;
 font-size:22px;
}

.tweet-button{
  background-color:rgb(29, 155, 240);
  width:90px;
}
