body {
  font-family: Arial, sans-serif;
  background-color: #ffe6e6; /* light pink background */
  color: #ff99cc; /* dark gray text color */
  margin: 0;
}

header {
  background-color: #ff99cc; /* pink header background */
  color:white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

main {
  padding: 20px;
}

.content-container {
  background-color: white; /* white background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: black; /* Change color to black */
}

